* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

label {
    display: block;
}

.recipes {
    margin-bottom: 40px;
}

.recipe {
    width: 200px;
}

.date {
    font-size: 0.7rem;
}

.title {
    text-align: center;
    font-size: 1.3rem;
}

.author {
    text-align: right;
    font-size: 0.7rem;
}

.delete {
    width: 100%;
    margin-top: 5px;
}

.unsubscribe {
    margin-top: 20px;
}