body > * {
    box-sizing: border-box;
}

.activate {
    display: block;
    margin: auto;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    cursor: pointer;
}

.activate:active {
    color: black;
    background-color: white;
}

.activate:focus {
    outline: none;
}

.popup-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;

    position: fixed;
    top: 0;
    left: 0;
}

.popup {
    background-color: white;
    width: 50%;
    height: 30%;
    border-radius: 10px;
    padding: 1px;

    position: relative;
    top: 35%; /* 30% + 35% + 35% = 100% */
    left: 25%; /* 50% + 25% + 25% = 100% */
}

.popup__close {
    display: block;
    font-size: 14px;
    color: darkgray;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    padding: 0;

    position: absolute;
    top: -15px;
    right: -12px;
}

.popup__close:focus {
    outline: none;
}

.popup__title, .popup__link {
    text-align: center;
}

.popup__title {
    font-size: 30px;
}

body > p {
    height: 500px;
}