body > * {
    box-sizing: border-box;
}

.general {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

.error {
    color: red;
    border-color: red;
}

.success {
    color: green;
    border-color: green;
}

.extra {
    font-family: cursive;
    font-size: 20px;
}